/* ===================================
/* Register page */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.page-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #4b006e, #180042);
  color: #fff;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 50px;
}

.form-container form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  background-color: #1c1c50;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-container form .title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #dbbc0d;
}

.form-container form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #2c2c6c;
  color: #fff;
}

.form-container form input::placeholder {
  color: #ccc; /* Lighter placeholder text */
}

.form-container form button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #dbbc0d;
  color: white;
  font-weight: bold;
}

.form-container form button:hover {
  background-color: #d0a90a;
}

.register-btn {
  background-color: #ff5757;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.register-btn:hover {
  background-color: #ff3131;
}

@media (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .image-container {
    display: none;
  }

  .form-container {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }
}




/* login page */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.page-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right, #4b006e, #180042);
  color: #fff;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50%;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}
.form-container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-left: 50px;
}

.form-container1 form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  background-color: #1c1c50;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.form-container1 form .title {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: #ff5757;
}

.form-container1 form input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #2c2c6c;
  color: #fff;
}

.form-container1 form button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ff5757;
  color: white;
  font-weight: bold;
}

.form-container1 form button:hover {
  background-color: #e01010;
}

.forgot-btn {
  background: none;
  border: none;
  color: #ff5757;
  text-align: center;
  padding: 0;
  margin-bottom: 15px;
  cursor: pointer;
}

.forgot-btn:hover {
  color: #ffffff;
}

.forgot-btn:focus {
  outline: none;
}

@media (max-width: 768px) {
  .page-container {
    flex-direction: column;
  }

  .image-container {
    display: none;
  }

  .form-container1 {
    margin-left: 0;
    width: 100%;
    padding: 20px;
  }
}
